
.signup-container{
  width: "100%";
}


.profile-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.profile-container h2 {
  text-align: center;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 18px;
  margin: 10px 0;
}


.error-text{
  color: red;
}
